node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env

# 🧪 Tests
coverage/
*.test.js
*.spec.js

# 📝 Logs
logs/
*.log

# 🧰 OS / Système
.DS_Store
Thumbs.db

# 💻 VS Code
.vscode/
*.code-workspace

# 🔧 Fichiers temporaires
*.tmp
*.swp
fichier-a-ignorer.txt