* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  color: #f1f1f1;
  background-color: #222;
  padding: 1.5rem;
  position: relative;
}

nav {
  display: none;
}

nav.visible {
  display: block;
}

#menu-burger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

#menu-burger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

main {
  flex: 1;
  padding: 2em;
}

.changer-theme {
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-theme {
  margin-top: 20px;
  padding: 5px 10px;
}

form h2 {
  text-align: center;
  margin-bottom: 10px;
}

form {
  background-color: #f1f1f1;
  max-width: 400px;
  min-height: 500px;
  border: 1px solid #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0 auto;
}

form input {
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

form textarea {
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  resize: none;
  height: 100px;
}

form label {
  font-weight: bold;
  margin-top: 10px;
}

form button {
  margin-top: auto;
  padding: 10px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #444;
}

.formulaire {
  opacity: 1;
  max-height: 1000px;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.formulaire.cache-form {
  opacity: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
}

.cacher {
  display: none;
}

#message-confirmation {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

.invalid {
  display: none;
}

.fade-in {
  animation: fade 0.4s ease-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  animation: fadeOut 0.4s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1em;
}

button {
  padding: 5px;
  border-radius: 6px;
}

.lightBlue {
  background-color: lightblue;
  color: white;
}
